<style>
    .container {width: 100%;}
    .w100 {height: 400px; width: 100%; display: block;}
</style>
<!-- <model-viewer> HTML element -->
<model-viewer class="w100" src="/3dmodel/eyeglasses4.glb" camera-controls camera-orbit="-12.51deg 78.81deg 10.36m" min-camera-orbit="auto auto auto" max-camera-orbit="auto auto 10.36m" auto-rotate environment-image="pillars_1k.hdr" skybox-image="pillars_1k.hdr" exposure="1.33">
</model-viewer>

<!-- Loads <model-viewer> for browsers: -->
<script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
